/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.mt-8 {
  margin-top: 2rem /* 32px */;
}
.shadow-md {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.bg-white {
  background-color: white;
}
.grid {
  display: grid;
}
.bg-transparent {
  background-color: transparent;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.px-20 {
  padding-left: 5rem /* 80px */;
  padding-right: 5rem /* 80px */;
}
.py-5 {
  padding-top: 1.25rem /* 20px */;
  padding-bottom: 1.25rem /* 20px */;
}
.font-bold {
  font-weight: 700;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.justify-end {
  justify-content: flex-end;
}
.box-border {
  box-sizing: border-box;
}
.font-semibold {
  font-weight: 600;
}

.gap-4 {
  gap: 1rem /* 16px */;
}

.p-3 {
  padding: 0.75rem /* 12px */;
}
.font-medium {
  font-weight: 500;
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.rounded-lg {
  border-radius: 0.5rem /* 8px */;
}
.mt-10 {
  margin-top: 2.5rem /* 40px */;
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-flow-row {
  grid-auto-flow: row;
}
.h-96 {
  height: 24rem /* 384px */;
}
.flex-col {
  flex-direction: column;
}
.shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.shadow-gray-300 {
  --tw-shadow-color: #d1d5db;
  --tw-shadow: var(--tw-shadow-colored);
}

.w-full {
  width: 100%;
}
.rounded-t-lg {
  border-top-left-radius: 0.5rem /* 8px */;
  border-top-right-radius: 0.5rem /* 8px */;
}
.p-7 {
  padding: 1.75rem /* 28px */;
}

.text-xl {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}
.pb-3 {
  padding-bottom: 0.75rem /* 12px */;
}
